      <footer class="colophon">
        <ul>
          <li><a href="http://bootstrapbrasil.github.io/">Bootstrap Brasil docs</a></li>
          <li><a href="https://getbootstrap.com">Bootstrap Oficial docs</a></li>
          <li><a href="https://github.com/twbs/bootstrap/issues?state=open">Bootstrap issues</a></li>
          <li><a href="/feed.xml">Inscreva-se via RSS</a></li>
        </ul>
        <ul>
          <li>
            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=true" width="112" height="20"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=fork&amp;count=true" width="105" height="20"></iframe>
          </li>
        </ul>
        <ul>
          <li class="follow-btn">
            <a href="https://twitter.com/getbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Seguir @getbootstrap</a>
          </li>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://getbootstrap.com/bootstrap/" data-count="horizontal" data-via="getbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweetar</a>
          </li>
        </ul>

        <p>&copy; {{ site.time | date: '%Y' }}. Todos os direitos reservados.</p>
      </footer>

    </div> <!-- /close container -->

    {% include js.html %}

  </body>
</html>
